.hero {
    background-color: #f5e4e4;
    text-align: center;
    padding: 50px 0;
}

.hero-text h1 {
    font-size: 3em;
    color: #5d5555;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2em;
    color: #5d5555;
    margin-bottom: 30px;
}

.shop-now-btn {
    background-color: #e8dcdc;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    color: #5d5555;
    font-size: 1.2em;
}

.about {
    background-color: #fff;
    padding: 30px 20px;
    text-align: center;
}

.featured-products {
    padding: 50px 20px;
    text-align: center;
}

.featured-products h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    background-color: #f8f4f4;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.product h3 {
    font-size: 1.5em;
    color: #5d5555;
    margin-bottom: 10px;
}

.product p {
    font-size: 1em;
    color: #7a7a7a;
    margin-bottom: 20px;
}

.button {
    background-color: #e8dcdc;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #5d5555;
    font-size: 1em;
}
